.loginHolderMain {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginHolder {
  width: 500px !important;
}
form {
  margin: 20px;
  padding: 30px;
  border-radius: 20px;
}
input[type=datetime-local] {
  height: 40px;
}
