<app-header></app-header>
<div>
    <div class="cardHolder">
        <div class="card" routerLink="/scheduleMeeting">
            <img src="../../../assets/meeting.png" alt="">
            <button type="button" class="btn btn-primary">Schedule Meeting</button>&nbsp;
        </div>
        <div class="card" routerLink="/upcomingMeetings">
            <img src="../../../assets/appointment.png" alt="">
            <button type="button" class="btn btn-primary">Appointments</button>&nbsp;
        </div>
        <div class="card" routerLink="/editProfile">
            <img src="../../../assets/profile.png" alt="">
            <button type="button" class="btn btn-primary">Edit profile</button>&nbsp;
        </div>
        <div class="card" routerLink="/markHoursOff">
            <img src="../../../assets/off.png" alt="">
            <button type="button" class="btn btn-primary">Mark Hours Off</button>&nbsp;
        </div>
    </div>
</div>

