<app-header></app-header>
<div class="mainHolder">
  <div class="contentHolder">
    <div class="form-group">
      <label for="hoursOffStartTime">Start time</label>
      <input
        type="datetime-local"
        [(ngModel)]="userCredentialModel.hoursOffStartTime"
        name="hoursOffStartTime"
        class="input-group date"
        max="2022-07-28"
      />
    </div>

    <div class="form-group">
      <label for="hoursOffEndTime">End time</label>
      <input
        type="datetime-local"
        [(ngModel)]="userCredentialModel.hoursOffEndTime"
        name="hoursOffEndTime"
        class="input-group date"
        max="2022-07-28"
      />
    </div>
    <button class="btn btn-success" (click)="getTimings()">Mark Off</button
    >&nbsp;&nbsp;&nbsp;
    <button class="btn btn-danger" routerLink="/dashboard">Cancel</button>
  </div>
</div>
