<div *ngIf="!userExist">
  <div class="loginHolderMain">
    <div class="loginHolder">
      <div class="formHolder">
        <h1 style="text-align: center">Forgot Password</h1>
        <hr />
        <form #loginForm="ngForm" (ngSubmit)="validateUser()" autocomplete="off">
          <div class="form-group">
            <input type="email" name="email" [(ngModel)]="email" placeholder="Email">
          </div>
          <br />
          <div class="form-group">
            <input type="tel" name="mobile" [(ngModel)]="mobile" placeholder="Mobile">
          </div>
          <br />

          <hr />
          <button type="submit" class="btn btn-primary">Check</button
          >&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-secondary">Cancel</button
          >&nbsp;&nbsp;
        </form>
      </div>
    </div>
    
  </div>
</div>

<div *ngIf="userExist">
  <div class="loginHolderMain">
    <div class="loginHolder">
      <div class="formHolder">
        <h1 style="text-align: center">Reset Password</h1>
        <hr />
        <form #loginForm="ngForm" (ngSubmit)="updatePassword()" autocomplete="off">
          <div class="form-group">
            <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
          </div>
          <br />
          <div class="form-group">
            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm password">
          </div>
          <br />

          <hr />
          <button type="submit" class="btn btn-primary">Submit</button
          >&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-secondary">Cancel</button
          >&nbsp;&nbsp;
        </form>
      </div>
    </div>
    
  </div>
</div>